<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <div class="banner-area">
    <div class="content-area">
      <div class="content">
        <h1>Bienvenue sur tropicana !</h1>
        <br><br>
        <p>Le site générateur de projets écologique 🌻</p>
        <br>
        <br>
        <p>Tropicana est un site communautaire qui vise à promouvoir la création et l'innovation,</p>
        <p>notre objectif est de permettre à ceux qui le souhaitent de développer des projets Eco responsable,</p>
        <p>en valorisant l'échange sur la base du retour client, plus un projet récolte de like, plus il a de change
          d'aboutir.</p>
        <button class="btn">En savoir plus</button>
      </div>
    </div>
  </div>
