.box {
      
    padding: 30px;
    background: #fff;
    margin-top:250px;
    border-radius: 10px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, .1);
}

body {
    color:black;
    background-image:url(https://www.detentejardin.com/sites/art-de-vivre/files/djweb_italiejardin_pinsent.jpg);
    background-size:cover;
    height: 90vh;
    width: 100%;
    overflow-x: hidden;
    }