<body>
<div class="container">
  <div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div class="container-2">
          <mat-card *ngFor="let card of cards;let index = index">
              <mat-card-header>
                  <mat-card-title>{{card.title}}
                      <button type="button" mat-raised-button color="warn" (click)="editData(index, card)">Modifier</button>
                  </mat-card-title>
                  <mat-card-title>{{card.comment}}</mat-card-title>
              </mat-card-header>
              <mat-card-actions>
                <button (click)="likeButtonClick()">👍🏻 {{like}}</button>
              </mat-card-actions>
          </mat-card>
        </div>
        </div>

  </div>
</div>
</body>