<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" [formGroup]="newsForm" (ngSubmit)="sendData()">
  
        <mat-card-content>
          <mat-form-field appearance="outline">
            <input formControlName="comment" matInput name="comment" matInput placeholder="Annonce" formControlName="comment" required>
          </mat-form-field>
        </mat-card-content>
        <button type="submit" mat-stroked-button color="warn" class="btn-block">Create</button>
      </form>
    </mat-card>
  </div>
  